# Sui contract package ID (from `sui client publish` output)
NEXT_PUBLIC_PACKAGE_ID=0x...

# Network: testnet | mainnet
NEXT_PUBLIC_SUI_NETWORK=mainnet

# RPC endpoint
# testnet: https://fullnode.testnet.sui.io:443
# mainnet: https://fullnode.mainnet.sui.io:443
NEXT_PUBLIC_SUI_RPC_URL=https://fullnode.mainnet.sui.io:443
